
.alert {
    width: 40%;
}

h1, h2, h3,
h4, h5, h6 {
    color: #686969;
}

.container {
    width: 60%;
    margin: auto;
}
.header {
    background-color: white;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.header .logo h2 {
    color: #f24d25;
}

.header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .navbar ul li a {
    text-decoration: none;
    color: #333333de;
}

.nav-item {
    box-sizing: border-box;
}

.nav-item a {
    margin-right: 0;
    margin-left: 0;
    padding: 20px 35px;
}

.nav-item:hover {
    background-color: #ffd853 !important;
}

.nav-item .active {
    background: #ffd853;
}

input {
    border-radius: 5px;
    border: 1px solid #000;
    background: rgb(255, 255, 255);
}

label {
    color: rgb(255, 255, 255);
}

#menuDropdowns {
    display: none;
}

#menuList:hover #menuDropdowns {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}